body{
    background-color: aliceblue;
}

#h1{
    text-align: center;
    font-size: 70px;
    text-decoration: underline;
}

#logocss{
    width: 150px;
    height: 150px;
    margin-left: -2%;
    margin-top: -50px;
}

@keyframes rota{
    0%{
        transform: rotate(0deg)
    }
    20%{
        transform: rotate(90deg);
    }
    40%{
        transform: rotate(180deg);
    }
    60%{
        transform: rotate(270deg);
    }
    80%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

#logocss:hover{
    animation: infinite rota 3s;
}

#cssdiv{
    display: grid;
    grid-template: 200px 10px 520px / 800px 200px 750px 100px;
    margin-top: 50px;
}

#cssdiva{
    grid-column: 1;
    grid-row: 1;
}

#cssdivaa{
    grid-column: 4;
}

#cssdivb{
    grid-column: 1;
    grid-row: 3;
}

#cssdivc{
    grid-column: 3;
    grid-row: 1;
}

#cssdivd{
    grid-column: 3;
    grid-row: 3;
    border: 5px double black;
    border-radius: 10px;
    height: 200px;
    width: 700px;
}

#cssdive{
    grid-column: 2;
    grid-row: 4;
}

#cssdive iframe{
    justify-content: center;
}