:root{
    --textColor:#171A22;
    --font:'Montserrat', sans-serif;
}

body{
    font-family: var(--font);
    color: var(--textColor);
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

#logo{
    width: 80px;
    height: 80px;
    margin-left: -2%;
    position: fixed;
}

.logo2{
    width: 300px;
    height: 300px;
}

.centres{
    width: 450px;
    height: 99px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 10px;
}

#ramonville{
    background-image: url("images/ramonville.png");
}
#ramonville{
    background-image: url("images/ramonville.png");
}
#montpellier{
    background-image: url("images/montpellier.png");
}
#perpignan{
    background-image: url("images/perpignan.png");
}
#tarbes{
    background-image: url("images/tarbes.png");
}
#carcassonne{
    background-image: url("images/carcassonne.png");
}


a{
    text-decoration: none;    
}

a:visited{
    color: var(--textColor);
}


#lescentres{
    display: grid;
    grid-template: 80px 160px / 27% 27% 27%;
    justify-content: center;
    gap: 35px;
}

#titre2{
    text-align: center;
    font-size: 22.5;
}

#ramonville{
    grid-column: 1;
    grid-row: 1;
}

#montpellier{
    grid-column: 2;
    grid-row: 1;
}

#perpignan{
    grid-column: 3;
    grid-row: 1;
}

#tarbes{
    grid-column: 1;
    grid-row: 2;
}

#carcassonne{
    grid-column: 2;
    grid-row: 2;
}

#statistiques{
    background-color: aliceblue;
    display: grid;
    grid-template: 70px 70px / 1fr 1fr 1fr 1fr;
    justify-content: center;
    margin-left: 120px;
    margin-right: 50px;
}

#statistiques div{
    text-align: center;
}

.stat{
    font-size: 30px;
    font-weight: bold;
}

#actu{
    display: grid;
    grid-template: 60px 300px 300px / 1fr 1fr 1fr;
    justify-content: center;
    padding: 1% 1% 1% 1%;
}

#actu div img{
    background-color: rgb(230, 230, 230);
}

#actu div{
    padding: 1% 10% 10% 5%;
    text-align: center;
}

#actu div p, #actu div h4{
    text-align: left;
    color: #707070;
}

#actu div:nth-child(1){
    font-size: 16px;
    grid-column: 2;
    grid-row: 1;
}

#actu div:nth-child(2) img{
    grid-column: 1;
    grid-row: 2;
}

#actu div:nth-child(2) a{
    grid-column: 1;
    grid-row: 3;
}

#actu div:nth-child(3) img{
    grid-column: 2;
    grid-row: 2;
}

#actu div:nth-child(3) a{
    grid-column: 2;
    grid-row: 3;
}

#actu div:nth-child(4) a{
    grid-column: 3;
    grid-row: 3;
}

#res0{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

#res1 #resta{
    margin-left: 110px;
    margin-right: 15px ;
}

#res2{
    align-self: flex-end;
}

#res2 a{
    margin-left: 25px;
}

hr{
    margin-left: -100px;
    width: 1863px;
}